.beer-map-page {
    padding: 10px;
  }
  
  .bars-list {
    margin-top: 20px;
  }
  
  .bar-card {
    margin-bottom: 10px;
    background-color: #F2DDCF !important;
    border-radius: 12px !important;
    transition: background-color 0.3s ease;
  }
  
  .bar-card.selected {
    color: white !important;
  }
  
  .card-content {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  
  .text-content {
    flex-grow: 1;
  }
  
  .card-button {
    background-color: #f3eeea !important;
    color: #3D1A17 !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .card-button:hover {
    background-color: #5A2B23 !important;
  }