.beer-map-page {
    padding: 10px;
  }
  
  .bars-list {
    margin-top: 20px;
  }
  
  .bar-card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F2DDCF !important;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .bar-card.selected {
    background-color: #3D1A17;
    color: white;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-content {
    flex-grow: 1;
  }
  
  .card-button {
    background-color: #f3eeea !important;
    color: #3D1A17 !important;
    border-radius: 50% !important; /* Makes the button circular */
    width: 40px !important; /* Set a fixed width */
    height: 40px !important; /* Set a fixed height (same as width for a perfect circle) */
    min-width: 40px !important; /* Ensures the button doesn't shrink */
    padding: 0 !important; /* Removes padding */
    display: flex !important; /* Centers the content */
    justify-content: center !important; /* Centers horizontally */
    align-items: center !important; /* Centers vertically */
  }
  
  .card-button:hover {
    background-color: #5A2B23 !important;
  }
  