.bars-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.bars-list-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 300px;
  overflow-y: auto;
}

.bars-list {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.bar-card {
  scroll-snap-align: center;
  margin-bottom: 10px;
}


.scroll-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
