.main-screen {
  padding: 20px;
}

.main-heading {
  margin-bottom: 20px;
  font-size: 24px;
  padding-left: 1%;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
}

.category-container {
  margin-bottom: 20px;
  padding-left: 1%;
}




.card {
  margin: 10px;
  height: 130px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.card .cardContent {
  padding: 0;
  position: relative;
}

.category-container {
  justify-content: left;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
}

.cardText {
  color: white;
  padding: 10px;
}