.main-screen {
  padding: 10px;
}

.main-screen .category-title {
  color: black;
  margin-bottom: 20px;
  font-family: 'Anton SC',  sans-serif;
}

.category-container {
  margin-bottom: 20px;
  padding: 0px;
  justify-content: left;
}

.card {
  height: 97%;
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 221, 221, 0.723);
}

.card .cardContent {
  padding: 0;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
}

.cardText {
  color: white;
  padding: 10px;
}