.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.searchbar {
    width: 95%;
    margin-right: 10px;
}

.searchbar .MuiOutlinedInput-input {
    padding: 0 14px; /* Adjust padding to fit the input height */
    height: 30px; /* Ensure input height is consistent */
}

.searchbar .MuiInputLabel-root {
    top: -12px; /* Adjust label position */
}


