.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.username {
    margin-left: auto;
}

.searchbar {
    width: 500px;
    height:95%;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-right: 10px;
    /* background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color); */
    
}

.searchbar .label {
    color: red;
}


