.nearby-beers-section {
  padding: 0 5px;
  margin-top: 16px;
}
  
  .nearby-beers-title {
    color: #F2DDCF !important;
    font-family: 'Roboto';
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
  }
  
  .nearby-beers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 5px;
  }
  
  .nearby-beers-grid {
    padding: 0px;
    justify-content: left;
  }

  .filter-buttons {
    display: flex;
    gap: 8px;
    padding: 0 16px;
    justify-content: flex-start;
    margin: 20px 0;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .filter-buttons::-webkit-scrollbar {
    display: none;
  }

  