.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0; /* Also reset padding */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Set the background and text color */
body {
  background: #3D1A17;
  color: black;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  width: 100vw; /* Ensure body width doesn't exceed the viewport width */
  font-family: "Anton SC", sans-serif;
}

html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}