.beers-of-day-wrapper {
    position: relative;
    height: auto; /* Changed from fixed height */
    perspective: 1000px;
    overflow: visible;
    padding-bottom: 10px; /* Add padding to accommodate dots */
  }

  .beers-of-day-container {
    position: relative;
    width: 100%;
    height: 200px; /* Set a fixed height for the card container */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-bottom: -50px;
  }
  
  
  .beer-of-day-card {
    position: absolute;
    width: 70%;
    height: 63%;
    left: 15%;
    top: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform, opacity;
  }

  .beer-of-day-card.prev,
  .beer-of-day-card.next {
    width: 50%;
    height: 60%;
    top: 5%;
    opacity: 0.7;
  }
  
  .beer-of-day-card.prev {
    left: -20%;
    transform: translateZ(-100px) rotateY(10deg);
  }
  
  .beer-of-day-card.next {
    left: 70%;
    transform: translateZ(-100px) rotateY(-10deg);
  }
  
  .beer-of-day-card.active {
    z-index: 1;
    transform: translateZ(0) rotateY(0);
  }
  

  .cardContent {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(37, 43, 51, 0.98);
    padding: 5px;
  }
  

  .daycardImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the entire image is visible */
  }

  .imageWrapper {
    width: 100px;  /* Fixed size */
    height: 100px; /* Fixed size */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2DDCF; /* Background color for the circle */
  }

  .cardImage.square {
    object-fit: cover;
  }
  

  
  .daycardTextContent {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
  }
  

  .daycardTextContent .cardTitle {
    color: #F2DDCF;
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    text-align: left; /* Changed from center to left */
  }
  
  .daycardTextContent .cardTitleInfo {
    font-size: 10px;
    margin-top: 4px;
    text-align: left; /* Changed from center to left */
    color: #F2DDCF;
    font-weight: 500;
    font-family: 'Roboto';
  }

  
  .cardDescriptionContainer {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    overflow: hidden;
  }
  
